@font-face {
    font-family: 'Dosis';
    src: url('Dosis-VariableFont_wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body, html {
    background-color: #4365c4;
    color: #fff; /* Change text color */
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Use height instead of min-height to fill the screen */
    overflow: hidden; /* Hide scroll bars */
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-img {
    width: 200px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
}

.logo-text {
    font-size: 30px;
    color: #ffcc00;
    font-weight: bold;
    margin: 0 20px; /* Adjust space on the sides of the 'taco man' text */
}

.nav-links {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

.nav-links li {
    margin: 0 20px; /* Adjust space between navigation links */
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
}

.nav-links li a:hover {
    color: #ffcc00;
}

/* Additional styles */
/* Hide unnecessary overflow on the x-axis for all elements */
* {
    overflow-x: hidden;
}

#home {
    /* ... existing styles ... */
    position: relative;
    z-index: 2; /* Make sure home content is above the fixed navbar */
}

#navbar {
    /* ... existing styles ... */
    position: fixed; /* Make the navbar fixed at the top */
    top: -60px; /* Start hidden above the viewport */
    transition: top 0.5s; /* Smooth transition for sliding down */
    background-color: #4365c4; /* Match the background color */
    z-index: 1; /* Below the home content initially */
}

section {
    min-height: 100vh; /* Each section takes at least the height of the viewport */
    /* Add additional styling for sections here */
}